.wrapper{
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    font-family: 'Cinzel', serif;
}
.top{
    font-size: 0.7em;
    display: inline-flex;
}
.break{
    float: right;
}
.head{
    text-align: justify;
    text-align-last: justify;
    font-size: 1.6em;
    margin-top: 0px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    padding-bottom: 5px;
}
.text{
    text-align-last: justify;
    text-align: justify;
    font-size: 0.7em;
    letter-spacing: 0.4px;
    border-top: black;
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 5px;
    margin-top: -18px;
    border-bottom: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 3px;
}
.title{
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 1.9px;
    font-size: 2em;
    line-height: 1.2em;
    border-top: black;
    border-top-width: 4px;
    border-top-style: solid;
    margin-top: -7px;
    padding-top: 16px;
}
.subtitle{
    text-align: center;
    font-size: 1.4em;
    margin-top: -20px;
    letter-spacing: 1.2px;
    word-spacing: 4px;
    line-height: 1.2em;
}
span.indent{
    width: 40px;
    display: inline-flex;
}
.author{
    text-align: center;
    margin-top: -15px;
    font-size: .8em;
}
.image{
    border-bottom: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 26px;
    text-align: center;
}
.end{
    text-align: justify;
    text-align-last: justify;
    font-size: .7em;
    letter-spacing: .19em;
    border-top: black;
    border-top-style: solid;
    border-top-width: 4px;
    padding-top: 10px;
    margin-top: -10px;
}
@media screen and (max-device-width: 760px) {
.wrapper {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Cinzel', serif;
}
.top {
    font-size: 1.4em;
    display: inline-flex;
}
.break{
    float: right;
}
.head{
    text-align: justify;
    text-align-last: justify;
    font-size: 0.8em;
    margin-top: 0px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    padding-bottom: 12px;
    margin-bottom: 15px;
}
.text{
    text-align-last: justify;
    text-align: justify;
    font-size: 0.4em;
    letter-spacing: 0.2px;
    border-top: black;
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 10px;
    margin-top: 5px;
    border-bottom: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 6px;
    margin-bottom: 16px;
}
.title{
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 1.3em;
    line-height: 1em;
    border-top: black;
    border-top-width: 4px;
    border-top-style: solid;
    margin-top: 4px;
    padding-top: 20px;
}
.subtitle{
    text-align: center;
    font-size: 0.8em;
    margin-top: 0px;
    letter-spacing: 1px;
    word-spacing: 4px;
    line-height: 1em;
}
.author {
    text-align: center;
    margin-top: 0px;
    font-size: .4em;
}
.image {
    border-bottom: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 31px;
    text-align: center;
}
.end {
    text-align: justify;
    text-align-last: justify;
    font-size: .4em;
    letter-spacing: 0.2em;
    border-top: black;
    border-top-style: solid;
    border-top-width: 4px;
    padding-top: 10px;
    margin-top: -4px;
}
}
